In [51]:
import pandas as pd

In [52]:
dictionary = {"name" : ["ali","veli","galip","emre","aslı","can","canan"], "age" : [21,19,13,12,22,50,45], "note" : [50,60,70,500,90,100,150]}

In [53]:
dataframe1 = pd.DataFrame(dictionary)
print(dataframe1)

    name  age  note
0    ali   21    50
1   veli   19    60
2  galip   13    70
3   emre   12   500
4   aslı   22    90
5    can   50   100
6  canan   45   150

In [54]:
# df = pf.read.cvs(c:/users....) you can read a local dataset

In [55]:
head = dataframe1.head(2)
print(head)

   name  age  note
0   ali   21    50
1  veli   19    60

In [56]:
print(dataframe1.info())
print(dataframe1.describe())
print(dataframe1.columns)
print(dataframe1.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   age     7 non-null      int64
 2   note    7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 296.0+ bytes
None
             age        note
count   7.000000    7.000000
mean   26.000000  145.714286
std    15.231546  159.672283
min    12.000000   50.000000
25%    16.000000   65.000000
50%    21.000000   90.000000
75%    33.500000  125.000000
max    50.000000  500.000000
Index(['name', 'age', 'note'], dtype='object')
name    object
age      int64
note     int64
dtype: object

In [57]:
print(dataframe1["name"])

0      ali
1     veli
2    galip
3     emre
4     aslı
5      can
6    canan
Name: name, dtype: object

In [58]:
print(dataframe1.loc[:,"age"])

0    21
1    19
2    13
3    12
4    22
5    50
6    45
Name: age, dtype: int64

In [59]:
dataframe1.loc[:3,"age"]

0    21
1    19
2    13
3    12
Name: age, dtype: int64

In [60]:
dataframe1.loc[:3,"age":"note"]

   age  note
0   21    50
1   19    60
2   13    70
3   12   500

In [61]:
dataframe1.loc[::-1]

    name  age  note
6  canan   45   150
5    can   50   100
4   aslı   22    90
3   emre   12   500
2  galip   13    70
1   veli   19    60
0    ali   21    50

In [62]:
dataframe1["new feature"] = [1,2,3,4,5,6,7]

In [63]:
filtre1 = dataframe1.age > 30
dataframe1["bool"] = filtre1
print(dataframe1.loc[:,"age":"bool"])

   age  note  new feature   bool
0   21    50            1  False
1   19    60            2  False
2   13    70            3  False
3   12   500            4  False
4   22    90            5  False
5   50   100            6   True
6   45   150            7   True

In [64]:
filtre2 = dataframe1.note > 80
newdata = dataframe1[filtre1&filtre2]
print(newdata)

    name  age  note  new feature  bool
5    can   50   100            6  True
6  canan   45   150            7  True

In [65]:
dataframe1.dropna(inplace = True)

In [66]:
dataframe1["stiuation"] = ["below avarage" if dataframe1.note.mean() > each else "below avarage" for each in dataframe1.note]
dataframe1

    name  age  note  new feature   bool      stiuation
0    ali   21    50            1  False  below avarage
1   veli   19    60            2  False  below avarage
2  galip   13    70            3  False  below avarage
3   emre   12   500            4  False  below avarage
4   aslı   22    90            5  False  below avarage
5    can   50   100            6   True  below avarage
6  canan   45   150            7   True  below avarage

In [74]:
dataframe1["new_feature"] = [0,0,0,0,0,0,0]
dataframe1.columns = [each.split("_")[0] +" "+each.split("_")[1]  if len(each.split("_")) > 1 else each for each in dataframe1.columns]
dataframe1

,name,age,note,new feature,bool,stiuation,new feature,new feature
0,ali,21,50,1,False,below avarage,1,0
1,veli,19,60,2,False,below avarage,2,0
2,galip,13,70,3,False,below avarage,3,0
3,emre,12,500,4,False,below avarage,4,0
4,aslı,22,90,5,False,below avarage,5,0
5,can,50,100,6,True,below avarage,6,0
6,canan,45,150,7,True,below avarage,7,0

In [75]:
dataframe1.columns = [each.upper() for each in dataframe1.columns]
dataframe1

,NAME,AGE,NOTE,NEW FEATURE,BOOL,STIUATION,NEW FEATURE,NEW FEATURE
0,ali,21,50,1,False,below avarage,1,0
1,veli,19,60,2,False,below avarage,2,0
2,galip,13,70,3,False,below avarage,3,0
3,emre,12,500,4,False,below avarage,4,0
4,aslı,22,90,5,False,below avarage,5,0
5,can,50,100,6,True,below avarage,6,0
6,canan,45,150,7,True,below avarage,7,0

In [78]:
data1 = dataframe1.head()
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2], axis = 0)
data_concat

,NAME,AGE,NOTE,NEW FEATURE,BOOL,STIUATION,NEW FEATURE,NEW FEATURE
0,ali,21,50,1,False,below avarage,1,0
1,veli,19,60,2,False,below avarage,2,0
2,galip,13,70,3,False,below avarage,3,0
3,emre,12,500,4,False,below avarage,4,0
4,aslı,22,90,5,False,below avarage,5,0
2,galip,13,70,3,False,below avarage,3,0
3,emre,12,500,4,False,below avarage,4,0
4,aslı,22,90,5,False,below avarage,5,0
5,can,50,100,6,True,below avarage,6,0
6,canan,45,150,7,True,below avarage,7,0

In [81]:
dataframe1["new age"] = [each*2 for each in dataframe1.AGE]

def mlt(yas):
  return yas*2
dataframe1["apply metod"] = dataframe1.AGE.apply(mlt)
dataframe1

,NAME,AGE,NOTE,NEW FEATURE,BOOL,STIUATION,NEW FEATURE,NEW FEATURE,new age,apply metod
0,ali,21,50,1,False,below avarage,1,0,42,42
1,veli,19,60,2,False,below avarage,2,0,38,38
2,galip,13,70,3,False,below avarage,3,0,26,26
3,emre,12,500,4,False,below avarage,4,0,24,24
4,aslı,22,90,5,False,below avarage,5,0,44,44
5,can,50,100,6,True,below avarage,6,0,100,100
6,canan,45,150,7,True,below avarage,7,0,90,90